/*----------------------------ABOUT STYLE min-width 320----------------------------*/


.about {
    min-width: 320px;
    background: #0D0D0D;
    transition: background-color 2s linear 0s;
}

.about__title {
    font-size: 26px;
    color: #D9D9D9;
}

.about__paragraph-first,
.about__paragraph-seconde {
    font-size: 14px;
    line-height: 130%;
    color: #D9D9D9;
}

.about-list {
    display: flex;
}

.about-list__item {
    width: 150px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.about-list__item p {
    width: 142px;
    color: white;
}

.about-list__photo--decor {
    width: 142px;
    height: 124px;
    display: block;
}

.about-list__photo--decor-upside-down {
    transform: rotate(180deg);
}

.about-list__item:hover .about-list__photo--decor {
    stroke: #3425E1;
}

.about-list__photo--designer {
    margin-top: -100px;
    display: block;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}

.about-list__developer .about-list__text-wrapper {
    order: 3;
}