/*----------------------------CASE min-width 320----------------------------*/

.case {
    width: 320px;
    margin: 0 auto;
    background-color: #0D0D0D;
}

.case__title {
    background: #0D0D0D;
    color: white;
}

.case-list__item {
    width: 288px;
    height: 360px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.case-list__project1 {
    background-image: url("../img/case__back1.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.case-list__project2 {
    background-image: url("../img/case__back3.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.case-list__project3 {
    background-image: url("../img/case__back4.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.case-list__project4 {
    background-image: url("../img/case__back1.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.case-list__project5 {
    background-image: url("../img/case__back3.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.case-list__title {
    padding-bottom: 10px;
    color: white;
}

.case-btn-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.case-btn__item{
    margin-right: 5px;
}
.case-btn__btn {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    color: #D9D9D9;
    font-size: 12px;
    line-height: 130%;
    background-color: rgba(13, 13, 13, 0.7);;
    border-radius: 200px;
}
/*.case__watch-more{
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #0000ff, 0 0 80px #0000ff, 0 0 90px #0000ff, 0 0 100px #0000ff, 0 0 150px #0000ff;
}*/
