/*----------------------------NAVIGATION STYLE min-width 320----------------------------*/
@media (min-width: 320px) {

    header {
        min-width: 320px;
        height: 500px;
        background-color: #0D0D0D;
    }

    .logo--header {
        display: block;
        width: 40px;
        height: 55px;
        padding-top: 20px;
        padding-left: 16px;
        margin-bottom: 30px;
        background-image: url("../img/logo__mobile.png");
        background-repeat: no-repeat;
        background-position: center;
    }

    .navigation {
        position: relative;
        z-index: 1;
    }

    .navigation-control {
        display: flex;
        align-items: center;
    }

    .nav-list {
        width: 304px;
        padding-left: 16px;
        padding-top: 10px;
        position: absolute;
        top: 84px;
        left: -338px;
        background: #0D0D0D;
        transition: left ease 0.5s;
        visibility: hidden;
    }

    .nav-list--show {
        /*flex-basis: 100%;*/
        visibility: visible;
        left: 0;
        width: 100%;
    }

    .nav-list__item {
        padding-bottom: 12px;
        position: relative;
    }

    .nav-list__item:nth-child(3) {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .nav-list__item:nth-child(3)::before,
    .nav-list__item:nth-child(3)::after {
        content: "";
        width: 292px;
        height: 1px;
        display: block;
        position: absolute;
        background: #4D4D4D;
    }

    .nav-list__item:nth-child(3)::before {
        top: 0;
    }

    .nav-list__item:nth-child(3)::after {
        bottom: 0;
    }

    .nav-list__item:nth-child(4) {
        padding-top: 12px;
    }

    .nav-list__item:last-child {
        margin-bottom: 41px;
    }

    .nav-list__link {
        text-transform: uppercase;
        color: #D9D9D9;
    }

    .sub-menu__item {
        padding-bottom: 12px;
    }

    .sub-menu__item:first-child {
        padding-top: 12px;
    }

    .sub-menu__item:last-child {
        padding-bottom: 0;
    }

    .sub-menu__link {
        font-size: 12px;
        text-transform: uppercase;
        color: #858585;
    }


    .header-text {
        padding-right: 16px;
        padding-left: 16px;
        min-width: 288px;
    }

}

.header-text__title {
    max-width: 520px;
}

.header-text__title:first-child {
    padding-bottom: 25px;
}

.header-text__paragraph {
    max-width: 360px;
    margin: 0;
    padding-bottom: 25px;
    padding-top: 25px;
}

.header-text__link{
    width: 204px;
    height: 30px;
    display: block;
    font-size: 22px;
    line-height: 130%;
    text-transform: uppercase;
    color: #EBF5FC;
    border-bottom: 1px solid #3425E1;
    text-shadow: 0px 0px 10px #3425E1;
    position: relative;
}

.header-text__link::after{
    content: "";
    width: 24px;
    height: 24px;
    display: block;
    background-image: url("../img/icon__arrow-header.png");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: -22px;
    top: -4px;
}

/*-----------------------------NAV BTN STYLE----------------------------*/

.nav-btn {
    display: block;
    width: 38px;
    height: 38px;
    margin-left: auto;
    margin-right: 16px;
    cursor: pointer;
    border: none;
    background: rgba(13, 13, 13, 0.5);
    border-radius: 50%;
}

.nab-btn__line-one, .nav-btn__line-two {
    display: block;
    width: 30px;
    height: 2px;
    margin: 8px 0;
    transition: 0.4s;
    background-color: #D9D9D9;
    border-radius: 2px;
}

.change-btn .nab-btn__line-one {
    transform: rotate(-45deg) translate(-4px, 3px);
}

.change-btn .nav-btn__line-two {
    transform: rotate(45deg) translate(-4px, -4px);
}

.header-text {
    display: block;
}

.header-text__title {
    font-size: 32px;
    letter-spacing: -0.01em;
    color: #D9D9D9;
}

.header-text__paragraph {
    color: #EBF5FC;
}

.visibility-hidden {
    visibility: hidden;
}


/*----------------------------HEADER STYLE min-width 768px----------------------------*/

@media (min-width: 768px) {

    .margin-auto {
        width: 768px;
        margin: 0 auto;
    }

    header {
        min-width: 768px;
        height: 620px;
        position: sticky;
        z-index: 3;
    }

    .logo--header {
        width: 26px;
        height: 233px;
        margin: 0;
        padding: 0;
        background-image: url("../img/logo__tablet.png");
        order: 2;
    }

    .navigation {
        height: 650px;
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        background-color: transparent;
    }

    .navigation-control {
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 4;
    }

    .nav-list {
        padding-top: 50px;
        width: 768px;
        top: 0;
    }

    .nav-list--show {
        left: 0;
        padding-left: 200px;
        width: 700px;
    }

    .header-text {
        width: 460px;
        padding-top: 202px;
        padding-left: 200px;
        position: relative;
    }

    .header-text p {
        position: absolute;
        width: 236px;
        right: 40px;
        bottom: -130px;
        font-size: 10px;
        color: #D9D9D9;
    }

    .header-text__link {
        display: block;
        width: 233px;
        height: 30px;
        margin-top: 80px;
    }

}

/*----------------------------HEADER STYLE min-width 1200px----------------------------*/

/*@media (min-width: 1200px) {

    .margin-auto {
        width: 1200px;
        margin: 0 auto;
    }


}*/