/*----------------------------NAVIGATION STYLE min-width 320----------------------------*/
@media (min-width: 320px) {

    header {
        min-width: 288px;
        height: 500px;
        padding-left: 16px;
        padding-right: 16px;
        background-image: url("../img/header__back--mobile.jpg");
        background-repeat: no-repeat;
        background-position: center;
    }

    .background-black {
        background: black;
    }

    .logo--header {
        padding-top: 20px;
        margin-bottom: 30px;
    }

    .navigation {
        position: relative;
        z-index: 1;
    }

    .navigation-control {
        display: flex;
        align-items: center;
    }

    .nav-list {
        width: 308px;
        padding-left: 14px;
        position: absolute;
        top: 84px;
        right: -338px;
        background: black;
        transition: right ease 0.3s;
        visibility: hidden;
    }

    .nav-list--show {
        /*flex-basis: 100%;*/
        visibility: visible;
        right: -2px;
    }

    .nav-list__item {
        padding-bottom: 12px;
        position: relative;
    }

    .nav-list__item:nth-child(3) {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .nav-list__item:nth-child(3)::before,
    .nav-list__item:nth-child(3)::after {
        content: "";
        width: 292px;
        height: 1px;
        display: block;
        position: absolute;
        background: #4D4D4D;
    }

    .nav-list__item:nth-child(3)::before {
        top: 0;
    }

    .nav-list__item:nth-child(3)::after {
        bottom: 0;
    }

    .nav-list__item:nth-child(4) {
        padding-top: 12px;
    }

    .nav-list__item:last-child {
        margin-bottom: 41px;
    }

    .nav-list__link {
        text-transform: uppercase;
        color: #D9D9D9;
    }

    .sub-menu__item {
        padding-bottom: 12px;
    }

    .sub-menu__item:first-child {
        padding-top: 12px;
    }

    .sub-menu__item:last-child {
        padding-bottom: 0;
    }

    .sub-menu__link {
        font-size: 12px;
        text-transform: uppercase;
        color: #858585;
    }

}

/*-----------------------------NAV BTN STYLE----------------------------*/

.nav-btn {
    display: block;
    width: 38px;
    margin-left: auto;
    height: 38px;
    cursor: pointer;
    border: none;
    background: rgba(13, 13, 13, 0.5);
    border-radius: 50%;
}

.nab-btn__line-one, .nav-btn__line-two {
    display: block;
    width: 30px;
    height: 2px;
    margin: 8px 0;
    transition: 0.4s;
    background-color: #D9D9D9;
    border-radius: 2px;
}

.change-btn .nab-btn__line-one {
    transform: rotate(-45deg) translate(-4px, 3px);
}

.change-btn .nav-btn__line-two {
    transform: rotate(45deg) translate(-4px, -4px);
}

.header-text {
    display: block;
}

.header-text__title {
    font-size: 32px;
    letter-spacing: -0.01em;
    color: #D9D9D9;
}

.visibility-hidden {
    visibility: hidden;
}


/*----------------------------NAVIGATION STYLE min-width 768px----------------------------*/

@media (min-width:768px) {
    header{
        min-width: 768px;
        background-image: url("../img/header__back--tablet.jpg");
    }
}