/*----------------------------SKILLS min-width 320----------------------------*/

@media (min-width: 320px) {

    .skills{
        background-color:  #0D0D0D;
        color: #EBF5FC;
    }
}


/*----------------------------SKILLS min-width 768----------------------------*/

@media (min-width: 768px) {

    .margin-auto {
        width: 768px;
        margin: 0 auto;
    }


}



/*----------------------------SKILLS min-width 1200px----------------------------*/

@media (min-width:1200px) {

    .margin-auto {
        width: 1200px;
        margin: 0 auto;
    }
}