/*--------------------------------------DEFAULT STYLE----------------------------*/

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

button{
    border: none;
}

.margin-auto{
    width: 288px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}