/*--------------------------------------DEFAULT STYLE----------------------------*/

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

button{
    border: none;
}

.margin-auto{
    width: 288px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}
.background--black{
    background-color: #0D0D0D;
}

/*
transition: background-color 1s linear 0s;
background-color: rgb(13, 13, 13);
--------------------------------------------------
transition: background-color 1s linear 0s;
background-color: rgb(21, 26, 81);
--------------------------------------------------
function(e) {
  if (e.target.closest(".t-site-search-pu__pagination span[page]")) {
    var t = e.target.closest(".t-site-search-pu__pagination span[page]"),
      r;
    t.setAttribute("disabled", "disabled"), I(2, t.getAttribute("page"))
  }
}
*/