/*----------------------------WHY-WE min-width 320----------------------------*/
.why-we {
    min-width: 320px;
    background: #0D0D0D;
    transition: background-color 2s linear 0s;
}

.why-we__list {
    display: flex;
    flex-direction: column;
}

.why-we__item {
    padding-top: 25px;
    display: flex;
    align-items: center;
    position: relative;
}

.why-we__svg {
    margin-right: 25px;
}

.why-we__item:hover .why-we__svg {
    stroke: #3425E1;
}

.why-we__title {
    color: #D9D9D9;
}

.why-we__paragraph {
    width: 240px;
    margin: 0;
    font-size: 14px;
    line-height: 130%;
    color: #D9D9D9;
}

.why-we__list--number {
    position: absolute;
    bottom: 20px;
    left: 18px;
}

.why-we__item:hover .why-we__list--number {
    stroke: #3425E1;
}

.why-we__list--number2 {
    bottom: 70px;
}

.why-we__list--number3 {
    bottom: 24px;
}

.why-we__list--number4 {
    bottom: 70px;
}

/*----------------------------WHY-WE min-width 768----------------------------*/

@media (min-width: 768px) {

    .margin-auto {
        width: 768px;
        margin: 0 auto;
    }

    .why-we__tablet-wrapper {
        padding-left: 48px;
        padding-right: 48px;
        display: flex;
        padding-top: 160px;
    }

    .why-we__list {
        padding-left: 60px;
    }

    .why-we__item {
        margin-bottom: 120px;
        flex-direction: column;
        align-items: start;
    }

    .why-we__item svg {
        margin-bottom: 20px;
    }

    .why-we__list--number {
        top: 70px;
        left: 20px;
    }
}


/*----------------------------WHY-WE min-width 1200px----------------------------*/

@media (min-width: 1200px) {

    .margin-auto {
        width: 1200px;
        margin: 0 auto;
    }
}